*{
    text-align: center;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}
.calculation{
    color: white;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.calculator-button{
    height: 90px;
    width: 80px;
    border-radius: 60px;
    border: none;
    font-size: 35px;
    cursor: pointer;
    margin-right: 7px;
}
.calculator-button:hover{
    border: 4px solid white
}
.grey-button{
    background-color: rgb(116, 107, 107);
    color: white;
}
.Clear-button{
    font-size: 20px;
}
.orange-button{
    background-color: rgb(254,160,10);
    color: white;
    font-size:45px;
}